<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleProgram</key>
	<string>Contents/Resources/screencap/screencap</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/opt/homebrew/bin</string>
	</dict>
	<key>ExitTimeOut</key>
	<integer>30</integer>
	<key>KeepAlive</key>
	<dict>
		<key>Crashed</key>
		<true/>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>com.screencap.daemon</string>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>ProgramArguments</key>
	<array>
		<string>screencap</string>
		<string>serve</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
